.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 1fr 1fr 1fr 1fr; */
    grid-template-areas:
        "title title"
        "header header"
        "info info"
        "sidebar sidebar"
        "content content"
        "footer footer";
        /* grid-gap: 0px; */
}
body {
    color: #333333;
    font-family: "Roboto", Roboto, sans-serif;
    font-size: 12px;
}
h1 {
    color: #ffffff;
    font-size: 24px;
    justify-self: center;
}
h2 {
    color: #333333;
    font-size: 14px;
}
.title {
    grid-area: title;
    background-color: #4285F4;
    /* To center text correctly within a section, both vertically and horizontally */
    display: flex;
    justify-content: center;
    align-items: center;
}
.header {
    grid-area: header;
    background-color: #dddddd;
    min-height: 30px;
    /* To center text correctly within a section, both vertically and horizontally */
    display: flex;
    align-items: center;
}
.info {
    grid-area: info;
    background-color: #dddddd;
}
.sidebar {
    grid-area: sidebar;
    background-color: #eeeeee;
}
.content {
    grid-area: content;
    background-color: #ffffff;
    display: grid;
}
.footer {
    min-height: 20px;
    grid-area: footer;
    background-color: #34A853;
    color: #ffffff;
    /* To center text correctly within a section, both vertically and horizontally */
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 736px) {
.grid {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-areas:
        "title title"
        "header header"
        "sidebar info"
        "sidebar content"
        "footer footer";
}
}

